.bandeau {
	width: 100%;
    display:inline-flex
}
.first {
    z-index:1;
    top:0;
    position:absolute;
}
.test {
    z-index:2;
    top:0;
    left:592px;
    position:absolute;
    display:none;
}