.bandeau {
    display:inline-flex
}

body {
<<<<<<< HEAD
    background-color: #abfce2 !important;
=======
    background-color: #4bffc6 !important;
>>>>>>> fc212443836085b753251f15d92e59cf19f988df
    display: block;
    margin: 0px;
    }

.first {
    z-index:1;
    top:0;
<<<<<<< HEAD
}

p {
    line-height:0.6;
    font-size:15px;
}
=======
/*    position: absolute*/
}

>>>>>>> fc212443836085b753251f15d92e59cf19f988df

.canard-music {
    display:none;
    z-index:2;
    left:15px;
    position:fixed;
<<<<<<< HEAD
    top: 15px; 
    background-color:#fff;
    border:10px solid;
    border-color:#abfce2;
}
.info-song {
    display: inline-block;
    vertical-align: bottom;
    padding-left:10px;
    padding-bottom:22px;
}

.info-song p {
    line-height: 0;
=======
    top: 15px;
    
>>>>>>> fc212443836085b753251f15d92e59cf19f988df
}

.top10 {
    background-color: #fff;
<<<<<<< HEAD
=======
    height:110px;
>>>>>>> fc212443836085b753251f15d92e59cf19f988df
    width: 1496px;
}
h1 {
    padding: 27px;
    font-family: 'Dawning of a New Day', cursive !important; 
<<<<<<< HEAD
}
.profil img {
    width: 160px; 
}
.profil {
    text-align: right;
    padding:0px !important;
}

.col-sm-3 {
    margin-top: 30px;
}
.coeur-box {
    display:inline-table;
}
.coeur-box p {
    text-align: center;
    margin-right: 10px;
}
.coeur {
    width:40px !important;
    margin-right:10px;
    margin-bottom: 10px;
}
li a {
    font-family: 'megrim', cursive !important;
    font-size: 40px;
    color: #000;
    margin: 90px;
}
.menu {
    display:inline-flex;
    margin-top: 15px; 
}
nav {
    text-align: center;
}
ul {
    list-style-type: none;
}
.form {
    height:auto;
    width: 1496px;
    padding:27px;
    text-align: center;
}

label {
    width:140px;
}

#message {
    vertical-align: top;
}

textarea, input {
    width:200px;
}

button {
    margin-left:145px !important;
    margin-top:10px !important;
    margin-bottom:27px !important;
    width:200px;
    text-transform: uppercase !important;
    letter-spacing: 6px;
    font-weight: 300;
    background-color:#fff;
    border:0px;
    border-color: #fff;
}

button:hover {
    background-color:#abfce2;
    border: 2px solid;
    border-color: #fff;
    font-weight:500;
}

.menu a:hover {
    font-weight: 500;
    color:#000;
    text-decoration: none;
    border-bottom:2px solid;
    border-color:#000;
} 

h2, h3 {
    font-family: 'Satisfy', cursive!important;
    font-size:22px !important;
}

.pochette {
    height:100px;
    width:auto;
}
.player {
    display: block
}

#top10 {
    padding-bottom:30px;
    padding-top:30px;
}

.scrolldown {
    z-index:2;
    bottom:0;
    left:50%;
    position: fixed;
}

.scrolldown img {
    height:50px;
=======
>>>>>>> fc212443836085b753251f15d92e59cf19f988df
}